@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior: contain;
  background-color: black;
}
.bg-white{
  background-color: black;
}

.bg-gray{
  background-color: rgb(100, 100, 100);
}

.text-xs .text-2xl {
  color: yellow;
}

.text{
  color: yellow;
}

.border-gray-400{
  border-color: rgb(255 255 0/var(--tw-border-opacity));
}

.bg-gray-300{
  background-color: rgb(100, 100, 100);
}